<div class="panel">
    <%= @content.html_safe %>
</div>
<p>
<% if admin_signed_in? %>
    <% if @lookup != nil %>
        <%= link_to 'Edit', edit_lookup_path(@lookup) %>
    <% else %>
        <%= link_to 'Create', new_lookup_path %>
    <% end %>
<% end %>
</p>
