<style type="text/css">
  textarea { padding:2px; border:2px inset #ccc; width:40em; height:20em }
</style>

<%= form_tag(genhelp_contact_path) do -%>

  <%= label "from", "From" %>
  <%= text_field_tag('from')%>

  <%= label "subject", "Subject" %>
  <%= text_field_tag 'subject' %>

  <%= label "body", "Body" %>
  <%= text_area_tag 'body' %>

  <div><%= submit_tag 'Send' %></div>
  <div> <h3> <%= link_to "Back", contact_path %></h3> </div>
<% end -%>
