<% if flash[:notice] %>
    <p class="alert-box">
      <% if flash[:notice].kind_of?(Array) %>
        <% flash[:notice].each do |n| %>
          <%= n %>
          <br />
        <% end %>
        <% else %>
         <%= flash[:notice] %>
      <% end %>
    </p>
<% end %>
