<%= render template: "lookups/_content" %>

<%= form_tag(cleantrees_path, :multipart => true) do -%>
  <table id="text">
    <tr>
      <td>Email</td>
      <td><input type='textbox' value='' name='email' /></td>
    <tr>

    <tr>
      <td>Scaling file</td>
      <td><input type='file' name='scalingfile' value='' /></td>
    <tr>

    <tr>
      <td>Tree file 1 </td>
      <td><input type='file' value='' name='treefiles[]' /></td>
    <tr>
  </table>

  <input type="button" onclick="addInput()" name="add" value="Add another treefile" />
  <div><%= submit_tag 'Run' %></div>
  <div> <h3> <%= link_to "Back", runstem_path %></h3> </div>
<% end -%>

<script language="javascript">
    fields = 1;
    function addInput() {
        if (fields != 10) {
            fields += 1;

            var td1 = document.createElement("td");
            var newContent = document.createTextNode("Treefile " + fields);
            var newinput = document.createElement("input");
            newinput.name = "treefiles[]";
            newinput.type = "file";
            var newtr =  document.createElement("tr");
            td1.appendChild(newContent); 
            newtr.appendChild(td1); 

            td2 = document.createElement("td");
            td2.appendChild(newinput); 

            newtr.appendChild(td2); 
            document.getElementById('text').appendChild(newtr)

        } else {
            var newtr =  document.createElement("tr");
            var newContent = document.createTextNode("Only 10 tree files are allowed");
            newtr.appendChild(newContent)
            document.getElementById('text').appendChild(newtr)
            document.form.add.disabled=true;
        }
    }
</script>
