<%= render template: "lookups/_content" %>

<%= form_tag(generatesettings_path, :multipart => true) do -%>
  <table >
    <tr>
      <td> Traits file</td> 
      <td>  <%= file_field_tag 'traitsfile' %></td> 
    </tr>  

    <tr>
      <td> BT value</td> 
      <td>  <%= text_field_tag 'bt' %></td> 
    </tr>  

    <tr>
      <td>Email</td> 
      <td>  <%= text_field_tag 'email' %></td> 
    </tr>  
  </table>
  
  <div><%= submit_tag 'Run' %></div>
  <div> <h3> <%= link_to "Back", runstem_path %></h3> </div>
<% end -%>
