<%= render template: "lookups/_content" %>

<table class="table">
  <tr>
    <td> <%= link_to "Clean Trees", cleantrees_path %> </td> 
  </tr>
  <tr>
    <td> <%= link_to "Generate Settings File", generatesettings_path %>  </td> 
  </tr>
  <tr>
    <td> <%= link_to "Discovery", discovery_path %> </td> 
  </tr>
  <tr>
    <td> <%= link_to "Validation", validation_path %> </td> 
  </tr>
</table>

