<%= render :partial => "partials/lookup.html.erb",
    :locals => {:lookup => @frontlookup}  %>

<%= form_tag(setup_runstem_path, :multipart => true) do -%>
  <table >
    <tr>
      <td>Tree file</td> 
      <td>  <%= file_field_tag 'treefile' %></td> 
    </tr>  
    <tr>
      <td>Email</td> 
      <td>  <%= text_field_tag 'email' %></td> 
    </tr>  
  </table>
  
  <div><%= submit_tag 'Run' %></div>
  <div> <h3> <%= link_to "Back", runstem_path %></h3> </div>
<% end -%>
