<%= render :partial => "partials/lookup.html.erb",
    :locals => {:lookup => @frontlookup}  %>

<%= form_tag(subsampling_runstem_path, :multipart => true) do -%>
  <table>
    <tr>
      <td> Nexus file </td> 
      <td> <%= file_field_tag 'inputfile' %> </td> 
    </tr> 
    <tr>
      <td> Traits file</td>
      <td> <%= file_field_tag 'assocfile' %></td>
    </tr>
    <tr>
      <td> ML search cmd file</td>
      <td> <%= file_field_tag 'settingsfile' %></td>
    </tr>
    <tr>
      <td>Number of species per population</td>
      <td> <%= text_field_tag 'np' %></td>
    </tr>
    <tr>
      <td>Number of replicates</td>
      <td> <%= text_field_tag 'rp' %></td>
    </tr>

    <tr>
      <td>Email</td>
      <td> <%= text_field_tag 'email' %></td>
    </tr>

  </table>
  
  <div><%= submit_tag 'Run' %></div>
  <div> <h3> <%= link_to "Back", runstem_path %></h3> </div>
<% end -%>
