<%= render template: "lookups/_content" %>
<%= form_tag(validation_path, :multipart => true) do -%>
  <table>
    <tr>
      <td>Settings file</td>
      <td> <%= file_field_tag 'settingsfile' %></td>
    </tr>
    <tr>
      <td>Gene tree file</td>
      <td> <%= file_field_tag 'genetreefile' %></td>
    </tr>
    <tr>
      <td>Association file</td>
      <td> <%= file_field_tag 'assocfile' %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td> <%= text_field_tag 'email' %></td>
    </tr>
  </table>
  <div><%= submit_tag 'Run' %></div>

  <div> <h3> <%= link_to "Back", runstem_path %></h3> </div>
<% end -%>
