<p id="notice"><%= notice %></p>

<h3>  <%= @post.title %> </h3>

<%= @post.content.html_safe %>

<% if admin_signed_in? %>
    <%= link_to 'Edit', edit_post_path(@post), class: "button" %> 
    <%= link_to 'Back', posts_path, class: "button" %>
<% end %>
