<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "SpedeSTEM" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <div class="row">
          <div class="small-2 columns"></div>
          <div class="small-10 columns">
              <nav class="top-bar" data-topbar>
                  <ul class="title-area">
                      <li class="name">
                      <h1><a href="/">SpedeSTEM</a></h1>
                      </li>
                      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
                  </ul>

                  <section class="top-bar-section">

                      <!-- Left Nav Section -->
                      <ul class="left">
                              <li>
                                <%= link_to "Run SpedeSTEM", runstem_path %> 
                              </li>
                              <li>
                                <%= link_to "Resources", posts_path %> 
                              </li>
                              <li>
                                <%= link_to "Contact", contact_path %> 
                              </li>
                      </ul>

                      <!-- Right Nav Section -->
                      <ul class="right">

                            <% if admin_signed_in? %>
                              <li class="active"> 
                              <%= link_to "Sign out", 
                                  destroy_admin_session_path, :method => :delete %> 
                              </li>
                            <% else %>
                              <li class="active"> 
                              <%= link_to "Sign in", new_admin_session_path%> 
                              </li>
                            <% end %>
                      </ul>
                  </section>
              </nav>
          </div>
      </div>

      <div class="row">
          <div class="small-2 columns"></div>
          <div class="small-10 columns">
            </br>
            <%= render template: "partials/_flash" %>
            </br>
            <%= yield %>
          </div>
      </div>



    <div class="row">
      <div class="small-1 small-offset-2 columns">
        <%= link_to(image_tag("/assets/logo-tosusquare-flat.png"), "http://www.osu.edu" )%>
      </div>
      <div class="small-4 columns">
      Department of Ecology Evolution and Organismal Biology
      </div>
      <div class="small-5 columns"></div>
    </div>

    <div class="row">
      <div class="small-4 small-offset-2 columns">
      <%= link_to(image_tag("/assets/nsf.png"), "http://www.nsf.gov") %>
      </div>
      <div class="small-6 columns"></div>
    </div>
    
    <div class="row">
      <div class="small-3 small-offset-2 columns">
        Funded by NSF DEB 0918212 
      </div>
      <div class="small-8 columns"></div>
    </div>


    <%= render template: "layouts/_analytics" %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
